* {
	font-family: Verdana, Lucida Sans, Arial, Helvetica, sans-serif;
}

body {
	margin: 0px auto;
	background-color: #222;
}

.contents {
	display: flex;
	display: -webkit-flex;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	height: 320px;
}

.content-padding {
	margin-top: 16px;
	margin-bottom: 16px;
	padding-left: 16px;
	padding-right: 16px;
}

.content_text {
	font-weight: bold;
	font-size: 5em;
	color: #fff;
}

/**/
/* overide ui-page style */
@font-face {
	font-family: 'bebasregular';
	src: url('../fonts/custom/webfont.eot');
	src: url('../fonts/custom/webfont.eot?#iefix')
		format('embedded-opentype'),
		/* url('../fonts/custom/webfont.woff2') format('woff2'), */
         url('../fonts/custom/webfont.woff') format('woff'),
		url('../fonts/custom/webfont.ttf') format('truetype'),
		url('../fonts/custom/webfont.svg#bebasregular') format('svg');
	font-weight: bold;
	font-style: normal;
}

.ui-page {
	background-image: url(../img/bg.png);
	background-position: 0px 0px, center;
}

.ui-header {
	height: 3.75rem;
}

.ui-header .ui-title {
	color: #000;
	background: rgba(0, 0, 0, 0);
}

.style-step-count {
	transform: skew(0deg, -20deg);
	font-family: 'bebasregular', Arial, sans-serif;
	color: #000;
	font-size: 80px;
	margin: 0.3em 0;
	/* letter-spacing: .15em; */
	text-shadow: -7px 9px 7px rgba(147, 150, 150, 0.79);
}

#custom-content-style {
	margin-top: 55px;
}