@font-face {
    font-family: 'bebasregular';
    src: url('../fonts/bebas/webfont.eot');
    src: url('../fonts/bebas/webfont.eot?#iefix') format('embedded-opentype'),
         /* url('../fonts/bebas/webfont.woff2') format('woff2'), */
         url('../fonts/bebas/webfont.woff') format('woff'),
         url('../fonts/bebas/webfont.ttf') format('truetype'),
         url('../fonts/bebas/webfont.svg#bebasregular') format('svg');
    font-weight: bold;
    font-style: normal;
}
/* * {
    font-family: Verdana, Lucida Sans, Arial, Helvetica, sans-serif;
} */

body {
    margin: 0px auto;
    background-color:#222;
}

.contents {
	display: flex;
	display: -webkit-flex;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	height:320px;
}

.content-padding {
	margin-top: 16px;
	margin-bottom: 16px;
	padding-left: 16px;
	padding-right: 16px;
}

.content_text {
	font-weight:bold;
	font-size:5em;
	color:#fff;
}

/**/
/* overide ui-page style */
.ui-page{ 
	background-image: url(../img/bg.png) ;
    background-position: 0px 0px,center;
}
ui-title{
	font-family: 'Quicksand', sans-serif;
}
.ui-header .ui-title{
	color:#000;
}
.style-step-count{
  font-family: 'bebasregular', Arial, sans-serif;
  color:#6600ff;
  font-size:30px;
  margin:0em 0;
}
